@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  height: 100%;
  font-family: 'Numans', sans-serif;
}

body > div{
  height: 100%;
}
body > div > div{
  height: 100%;
}
/* Home.js */
.home{
  background-image: url(../bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.btn-login{
  color: white;
  text-align: left;
  padding-top: 280px;
  margin-left: 170px;
}
.btn-cadastro{
  color: white;
  text-align: left;
  padding-top: 30px;
  margin-left: 163px;
}
.home-btn{
  border-radius: 12px;
  background-color: #fff;
}

/* Login.js e Cadastro.js */

.login-cadastro{
  background-image: url(../background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
/* Login.js */
.container{
  height: 100%;
  align-content: center;
}
.card{
  height: 380px;
  margin-top: 140px;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
  color: white;
  text-align: center;
}
.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}
input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}
.remember{
  color: white;
}
.remember input{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.google_btn{
  color: black;
  background-color: #FFC312;
  margin-left: 10%;
  width: 100px;
}
.google_btn:hover{
  color: black;
  background-color: white;
}
.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  margin-right: 10%;
}
.login_btn:hover{
  color: black;
  background-color: white;
}
.links{
  color: white;
}
.links a{
  margin-left: 4px;
}
.links a:hover{
  background-color: white;
} 

/* Dashboard.js */
.menu-default{
  color: white;
  background-color: #F4A460;
}
.dropbtn {
  background-color: #343a40;
  color: white;
  width: 100px;
  padding: 16px;
  margin-right: 26px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #F4A460;}

/* Cadastro.js */
.card-cadastro{
  height: 425px;
  margin-top: 100px;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}
.cargos{
  height: 35px;
}
/* Pacientes_cadastro.js */
.formulario{
  height: 425px;
  margin: 6% auto auto 25%;
  width: 650px;
  align-content: center;
  background-color: #343a40 !important;
}
.formulario_header{
  color: white;
  text-align: center;
  margin-top: 50px;
}
.header{
  margin-top: 50px;
}
.formulario_input{
  margin-left: 110px;
  margin-bottom: 0px;
}
.genero_options{
  margin-left: 110px;
}
.formulario_input_cpf{
  margin-top: 30px;
  margin-left: 110px;
  margin-bottom: 0px;
}
.cadastrar_btn{
  color: black;
  background-color: #F4A460;
  width: 130px;
  margin-left: 260px;
  margin-top: 25px;
}
/*
.pacientes{
  background-image: url(../caelum-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
*/

/* Pacientes.js */
.tabela-pacientes{
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.btn-alta{
  margin-left: 10px;
}

/* Acompanhamento.js */
.dados-paciente{
  margin-top: 50px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.escala-table{
  margin-top: 100px;
  width: 75%;
  text-align: center;
  margin-left: 15%;
}
